{% extends 'base.html'%}

<!-- styles block -->
{% block styles%} {{ super() }}
<!-- <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="static/css/style.css">


<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous" />
<style>
    body {
        background-color: darkgray;
    }
    
    h1 {
        box-shadow: deeppink;
    }
    
    .col {
        background-color: dimgray;
        width: 500px;
    }
    
    .card-groups {
        background-color: dimgray;
        width: 500px;
    }
    
    .card-groups:hover {
        box-shadow: 0 0 10px rgba(45, 3, 85, 0.6), 0 0 20px rgba(45, 3, 85, 0.6), 0 0 40px rgba(45, 3, 85, 0.6);
    }
    
    .col:hover {
        box-shadow: 0 0 10px rgba(45, 3, 85, 0.6), 0 0 20px rgba(45, 3, 85, 0.6), 0 0 40px rgba(45, 3, 85, 0.6);
    }
</style>{% endblock %} {% block content %}

<body style="color: rgb(236, 214, 214); text-align: center;">
    <div class="container">
        <h1>PITCH APP</h1>
        <br>
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <div class="card-groups">
                        <div class="card border-info mb-5  height" style="max-width: 50rem;">
                            <div class="card-header">Business Pitch</div>
                            <div class="card-body text-info">
                                <!-- <h5 class="card-title">Interview Pitch</h5> -->
                                <p class="card-text">"...To be successful, you have to have your heart in your business, and your business in your heart..."</p>
                                <button type="button" class="btn btn-success"><a href="../pitch/">Add Pitch</a></button>
                                <button type="button" class="btn btn-success"><a href="/categories/Business">View Pitch</a></button>
                            </div>
                            <br>
                        </div>
                    </div>
                    <br>
                    <br>

                    <!-- random pitches -->
                    <div class="col">
                        <div class="card border-info mb-5" style="max-width: 40rem;">
                            <div class="card-header">Health Pitches</div>
                            <div class="card-body text-info">
                                <!-- <h5 class="card-title">Random Pitches</h5> -->
                                <p class="card-text">"...A fit body , a calm mind, a house full of love. These things cannot be bought, they are earned..."</p>
                                <button type="button" class="btn btn-success"><a href="../pitch/">Add Pitch</a></button>
                                <button type="button" class="btn btn-success"><a href="/categories/Health">View Pitch</a></button>
                            </div>
                            <br>
                        </div>
                    </div>
                    <br>
                    <br>
                    <!-- random pitches -->
                    <div class="col">
                        <div class="card border-info mb-5" style="max-width: 50rem;">
                            <div class="card-header">Dance Pitches</div>
                            <div class="card-body text-info">
                                <!-- <h5 class="card-title">Funny Pitches</h5> -->
                                <p class="card-text">"...Hand in hand on the edge of sand, they danced by the light of moon..."</p>
                                <button type="button" class="btn btn-success"><a href="../pitch/">Add Pitch</a></button>
                                <button type="button" class="btn btn-success"><a href="/categories/Dance">View Pitch</a></button>
                            </div>
                            <br>
                        </div>
                    </div>
                    <br>
                    <br>
                    <!-- pitches about promotion -->
                    <div class="col">
                        <div class="card border-info mb-5" style="max-width: 50rem;">
                            <div class="card-header">Educational Pitches</div>
                            <div class="card-body text-info">
                                <!-- <h5 class="card-title">Promotion Pitches</h5> -->
                                <p class="card-text">"...Teachers open the door, but you must enter..."</p>
                                <button type="button" class="btn btn-success"><a href="../pitch/">Add Pitch</a></button>
                                <button type="button" class="btn btn-success"><a href="/categories/Educational">View Pitch</a></button>
                            </div>
                            <br>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

    {% endblock%}

</body>
</body>